body{
    margin: 0;
    background-color: var(--background-color);
    font-family: var(--font1);
    overflow-x: hidden;
}

.background{
    position: absolute;

    display: grid;
    grid-template-columns: calc(100vw + calc(var(--background-blur) * 4));
    grid-template-rows: minmax(70vh, var(--unit7)) auto;

    left: calc((var(--background-blur) * 2) * -1);
    top: calc((var(--background-blur) * 2) * -1);
    z-index: -1;

}

.background::before{
    content: '';

    background: var(--background-img) no-repeat;
    background-size: cover;
    /*filter: blur(2px);*/
    -webkit-filter: blur(var(--background-blur)) grayscale(100%);

    z-index: -2;
}

.background::after{
    content: '';

    background-color: white;

    margin-top: -4px;
    height: 8px;
    z-index: -1;
}

.wrapper{
    box-sizing: border-box;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content auto max-content;

    background-color: var(--background-color);

    max-width: 70vw;
    width: var(--unit8);

    margin: var(--unit1) auto;
    min-height: calc(100vh - (2 * var(--unit1)));
}

.header{
    /*width: 100%;*/

    /*box-sizing: border-box;*/

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: var(--unit5) max-content auto;

    /*background-color: var(--header-color);*/
    /*background-color: red;*/
    border-bottom: var(--separator);
}

.logo{
    width: var(--unit3);
    height: var(--unit3);
    margin: auto;
}

.title{
    line-height: var(--unit3);
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
}

/*.menu-wrapper{*/
    /*width: auto;*/
    /*!*display: grid;*!*/
    /*!*grid-template-columns: auto;*!*/
    /*!*grid-template-rows: auto max-content;*!*/
/*}*/
/*.menu-wrapper::before{*/
    /*background-color: aqua;*/
    /*content: '';*/
/*}*/
/*.menu-wrapper1{*/
    /*display: grid;*/
    /*grid-template-columns: auto;*/
    /*grid-template-rows: auto min-content;*/
/*}*/

.menu{
    /*background-color: blueviolet;*/
    /*box-sizing: border-box;*/
    /*width: auto;*/
    display: grid;
    /*grid-template-rows: auto auto;*/
    grid-auto-rows: min-content;
    /*grid-auto-columns: max-content;*/
    grid-template-columns: repeat(var(--menu-cols), auto);
    grid-auto-flow: row;
    grid-gap: var(--unit1);
    padding-right: var(--unit1);

    margin-top: auto;
    margin-left: auto;
    font-size: 1em;
}

/*.menu::before{*/
    /*background-color: aqua;*/
    /*content: '';*/
/*}*/



.menu > div{
    line-height: var(--unit2);
    /*position: relative;*/

    width: var(--unit4);
    text-align: center;
    /*background-color: rgba(100,100,100,0.5);*/
    /*padding-left: calc(var(--logo-gap) / 2);*/
    /*background-color: gray;*/
}

.menu > div:hover{
    font-family: var(--font2);
    text-decoration: underline;
    cursor: pointer;
}
/*.meridlo{*/
    /*position: relative;*/
    /*top: 150px;*/
    /*width: 100%;*/
    /*height: 5px;*/
    /*background-color: aqua;*/
/*}*/

.preview{
    /*position: relative;*/
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% auto;
    /*width: 100%;*/
    min-height: var(--unit6);
    background-color: cornflowerblue;
    /*padding: var(--logo-size);*/
    /*overflow: hidden;*/
}

.article{
    padding: var(--unit2);
}

h1{
    font-family: var(--font2);
}

h2{
    font-family: var(--font2);
}

h3{
    font-family: var(--font2);
}

.img-wrapper{
    position: relative;
    /*background-color: aqua;*/
    overflow: hidden;
}

.preview-img{
    position: absolute;
    /*width: 40vw;*/
    top: 30px;
    left: -40px;
    height: 400px;
    /*left: 0;*/
    /*bottom: -150px;*/
}

.articles{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(var(--menu-cols), auto);
    grid-gap: var(--unit1);

    font-size: 0.7em;
    padding: var(--unit2) var(--unit2) 0;
}

.gallery{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;

    padding: var(--unit3);
}

.gallery > img{
    width: 100%;
    border: 2px black solid
}


.footer{
    position: relative;
    font-size: 2em;
    box-sizing: border-box;
    background-color: var(--footer-color);
    border-top: var(--separator);
    border: var(--separator);
    color: white;
    line-height: var(--logo-size);
    text-align: center;
}

.footer > a{
    color: white;
    /*position: absolute;*/
    height: 10px;
    bottom: 32px;
    right: 2px;
}


